    <!-- Map Section -->
    <div id="map" class="container text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2>Location</h2>
                <p>
                    <i class="fa fa-map-marker"></i> 地址: {{site.location}}<br>
                    <i class="fa fa-phone"></i> 電話: {{site.phone}}
                </p>
            </div>
        </div>
        <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 250px">
            <iframe style="height: 250px;" allowtransparency="true" frameborder="0" scrolling="no" src="https://www.weebly.com/weebly/apps/generateMap.php?map=google&elementid=702604569436747789&ineditor=0&control=3&width=auto&height=250px&overviewmap=0&scalecontrol=0&typecontrol=0&zoom=15&long=121.54229620000001&lat=25.0192838&domain=www&point=1&align=1&reseller=false&output=embed"></iframe>
        </div>
    </div>

